@charset "UTF-8";
@font-face {
	font-family: 'UFC'; 
	src: url("../_fonts/ufc.ttf");
}	

/* CSS GLOBAL 
-------------------*/
body {
   	background-attachment: fixed;
	background-image: url("../_imagens/bg.jpg");
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	width: 99%;
	background-color: hsla(67, 0%, 65%, 0.55);
	background-blend-mode: overlay;
	background-repeat: no-repeat;	
}

div#interface {
	background-color: rgba(255,255,255,.7);
	width: 80%;
	margin: -20px auto;
	box-shadow: 0px 0px 10px rgba(200,200,200,1);
	padding: 10px;
	font-family: Arial;
}

/* #### HEADER CABEÇALHO #### */
/* CSS CABEÇALHO
-------------------*/
header#cabecalho{
	font-family: 'UFC';
	font-size: 35pt;
	color: red;
	
	
}

header#cabecalho h1{
	margin: 0px;
	padding-left: 20px;
	-webkit-text-stroke-width: 4px;
	-webkit-text-stroke-color: black;

}
header#cabecalho h2{
	font-size: 35pt;
	margin: 0px;
	padding-left: 10px;
	-webkit-text-stroke-width: 2px;
	-webkit-text-stroke-color: black;
}

/* #### SECTION CORPO #### */
section#corpo {
	height: 680px;
	display: block;
	text-align: center;

}

div#interface table{
	border-spacing: 5px;
}

div#interface td{
	padding: 3px;
	border: 1px black solid;
    text-align: center;
    
}

/* CSS FOTOS LUTADORES ESCOLHIDOS
-------------------*/
div#escolha li{
	margin: 20px;
	display: inline-block;
	width: 200px;
	height: 300px;
	border: 1px black solid;
    margin: 40 100 0;
}

/* Controla a foto dos 2 lutadores que irão duelar */
.foto-lutador {
    text-align: center;
}
.p1 {
    background-color: #FAA116;
}
.p2 {
    background-color: #57C7C3;
}

/* CSS ESCOLHA LUTADORES 
-------------------*/
/* Controla o menu de lutadores para escolha */
div#interface table#lutador_esq{
	display: inline-block;
    width: 260;
    height: 210;
	padding: 20px;
    margin-left: 60px;
    margin-right: 20px;
    
}

.T1 {
    background-color: cornflowerblue;
}

div#interface table#lutador_dir{
	display: inline-block;
    width: 260;
    height: 210;
	padding: 20px;
    margin-left: 80px;
    margin-right: 20px;
}

.T2 {
    background-color: crimson;
}

/* CSS RODAPÉ 
-------------------*/
footer#rodape {
	border-top: 1px #606060 solid;
}

footer#rodape p{
	text-align: center;	
}
























